<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\MessageQueue\ConsumerConfigurationInterface"
                type="Magento\Framework\MessageQueue\ConsumerConfiguration" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rabbitmq_imagemanager_log_listing_data_source"
                      xsi:type="string">RabbitMQ\ImageManager\Model\ResourceModel\Log\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
